body{
	background: rgb(12, 37, 54);
}
::selection {background: transparent;}
#controls{text-align: center;}
#controls button{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	margin: 25px 2px;
	border: 0;
	border-radius: 4px;
	background: rgb(26, 144, 199);
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}
#controls button:hover{background: #003333;}

#puzzle{
	position: relative;
	width: 428px;
	height: 428px;
	margin: 0 auto;
	margin-top: 80px;
	border: 4px solid #443b8a;
	border-radius: 4px;
}
#puzzle span{
	position: absolute;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 4px;
}
#puzzle span.number{
	cursor: pointer;
	font: bold 40px/80px Arial;
	text-align: center;
	color: rgb(12, 37, 54);
}
#puzzle span.empty{background: transparent;}
#puzzle span.number{background:  #ca3636;}

#puzzle.animate span{
	-webkit-transition: 0.15s left, 0.15s top;
 	transition: 0.15s left, 0.15s top;
}